replicaAuthCount: 1
replicaAppCount: 1

backendAuth:
  port: 8080

backendApp:
  port: 8081

image:
  repositoryAuth: devsnice/arch-auth:v0.0.11
  repositoryApp: devsnice/arch-user-client:v0.0.1

serviceAuth:
  type: NodePort
  port: 80
 
serviceApp:
  type: NodePort
  port: 80  

nginx:
  host: arch.homework

postgresql:
  enabled: true
  postgresqlUsername: myuser
  postgresqlPassword: passwd
  postgresqlDatabase: myapp
  service:
    port: "5432"